.directory-menu{
  width:100%;
  display: flex;
  flex-wrap: wrap;//zorgt ervoor dat de overschot van percentages naar beneden gaat
  justify-content: space-between; //zet space tussen items in het midden
}
